
@model SCM_API.Models.Student.StudentIndexViewModel

@{
    ViewData["Title"] = "Student Search";
}

<h1>This is the student search area</h1>
<div>
    @using (Html.BeginForm("Index", "Student", FormMethod.Post))
    {
        <fieldset>
            <legend>Search Params</legend>

            <div class="editor-label">
                @Html.LabelFor(x => x.StudentSearch.FirstName)
                @Html.EditorFor(x => x.StudentSearch.FirstName)

                @Html.LabelFor(x => x.StudentSearch.Surname)
                @Html.EditorFor(x => x.StudentSearch.Surname)


                @Html.LabelFor(x => x.StudentSearch.CourseName)
                @Html.EditorFor(x => x.StudentSearch.CourseName)

                @Html.LabelFor(x => x.StudentSearch.CourseDate)
                @Html.EditorFor(x => x.StudentSearch.CourseDate, "{0:dd/MM/yyyy}")


                @Html.LabelFor(x => x.StudentSearch.CourseTeacherName)
                @Html.EditorFor(x => x.StudentSearch.CourseTeacherName)
            </div>

            <button style="float:left;" type="submit" class="btn btn-info">Search!</button>
        </fieldset>
    }
</div>

<br />
<br />
<div>
    <table>
        <thead>
            <tr>
                <th><b>Id</b></th>
                <th><b>First Name</b></th>
                <th><b>Surname</b></th>
                <th><b>Date of Birth</b></th>
                <th><b>Gender</b></th>
                <th><b>Address nº 1</b></th>
                <th><b>Address nº 2</b></th>
                <th><b>Address nº 3</b></th>
                <th><b>Edit</b></th>
                <th><b>Delete</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Students)
            {
            <tr>
                <td>@Html.ActionLink("Courses", "AddCourses", "Student", new { id = student.Id })</td>
                <td>@student.Id</td>
                <td>@student.FirstName</td>
                <td>@student.Surname</td>
                <td>@Html.DisplayFor(x => student.DateOfBirth, "{0:dd/MM/yyyy}")</td>
                <td>@student.Gender</td>
                <td>@student.FirstAddress</td>
                <td>@student.SecondAddress</td>
                <td>@student.ThirdAddress</td>
                <td>@Html.ActionLink("Edit", "Edit", "Student", new { id = student.Id })</td>
                <td>@Html.ActionLink("X", "Delete", "Student", new { id = student.Id })</td>
            </tr>
            }
        </tbody>
    </table>
</div>
