
@model SCM_API.Models.Course.CourseIndexViewModel

@{
    ViewData["Title"] = "Course Search";
}

<h1>This is the Course search area</h1>

<div>
    @using (Html.BeginForm("Index", "Course", FormMethod.Post))
    {
        <fieldset>
            <legend>Search Params</legend>

            <div class="editor-label">
                @Html.LabelFor(x => x.CourseSearch.CourseName)
                @Html.EditorFor(x => x.CourseSearch.CourseName)

                @Html.LabelFor(x => x.CourseSearch.CourseDate)
                @Html.EditorFor(x => x.CourseSearch.CourseDate, "{0:dd/MM/yyyy}")

                @Html.LabelFor(x => x.CourseSearch.CourseTeacherName)
                @Html.EditorFor(x => x.CourseSearch.CourseTeacherName)


                @Html.LabelFor(x => x.CourseSearch.FirstName)
                @Html.EditorFor(x => x.CourseSearch.FirstName)
            </div>

            <button style="float:left;" type="submit" class="btn btn-info">Search!</button>
        </fieldset>
    }
</div>

<br />
<br />


<div>
    <table>
        <thead>
            <tr>
                <th><b>Id</b></th>
                <th><b>Course Name</b></th>
                <th><b>Teacher Name</b></th>
                <th><b>Capacity</b></th>
                <th><b>Availability</b></th>
                <th><b>Start Date</b></th>
                <th><b>End Date</b></th>
                <th><b>Course Code</b></th>
                <th><b>Edit</b></th>
                <th><b>Delete</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model.Courses)
            {
            <tr>
                <td>@course.Id</td>
                <td>@course.Name</td>
                <td>@course.TeacherName</td>
                <td>@course.Capacity</td>
                <td>@course.Availability</td>
                <td>@Html.DisplayFor(x => course.StartDate, "{0:dd/MM/yyyy}")</td>
                <td>@Html.DisplayFor(x => course.EndDate, "{0:dd/MM/yyyy}")</td>
                <td>@course.Code</td>
                <td>@Html.ActionLink("Edit", "Edit", "Course", new { id = course.Id })</td>
                <td>@Html.ActionLink("X", "Delete", "Course", new { id = course.Id })</td>
            </tr>
            }
        </tbody>
    </table>
</div>